

h5{
    font-family: Impact,fantasy;
    text-align: center;
    font-size: 30px;
    color: orange;
    font-style: italic;
}






th{
	    font-weight: 800;
	    background-color: aqua;
	    color: blue;
	    font-family:sans-serif;
	}
	table{
	    font-family:helvetica, sans-serif;
	    border-collapse: collapse;
	    border-width: 1px;
	    border-style: solid;
	    border-color: yellow;
	}
	td{
	    background-color: green;
	    color: black;
	    font-family:fantasy;
	}

